body{
    margin:0;
    padding: 0;
    background-color: pink;
}
#navbar{
    background-color: blueviolet;
     height: 10vh;
     width: 100%;
     position: fixed;
     top:0;
     z-index: 9999;
}
ol{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    margin: 0;
}
li{
    display: flex;
    align-items: center;
}
li a{
    text-decoration: none;
    font-size: 30px;
}
#content{
    background-color: blue;
}
#about-me{
    background-color: teal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
}
#intro{
    font-size: 50px;
    color: aquamarine;
    margin: 0%;
}
#role{
    color: red;
    font-size: 30px;
    margin-top: 10;
}